* {
    box-sizing: border-box;
  }
/*#note{
    position: absolute;
    cursor:default;
    height: 200px;
    width: 200px;
    background-color: #f1f1f1;
}*/
.gray , .pink , .green , .cyan {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: auto 0 auto 0;
    border: 0.5px lightgray; ;
}
.gray{
    background-color: #DDDDDD;
}
.pink{
    background-color: #F7B2C9;
}
.green{
    background-color: #B8F8BA;
}
.cyan{
    background-color: #B2DDF6;
}
.close {
   border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: auto 0 auto 0;
    background-color: rgb(224, 62, 62); 
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;  
    color :white;  
}
.note-footer{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.sticker{
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
}
.sticker textarea {
    padding: 3px 10px;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 100px;
    

}

  